.game-report-bg-container {
  min-height: 100vh;
  background: linear-gradient(
    91.08deg,
    #dbbcc4 9.68%,
    #f3dfd8 32.98%,
    #d8bfd0 75.7%,
    #b7b1d5 99.11%
  );
  padding-bottom: 40px;
}

.game-report-container {
  width: 100%;
  max-width: 1250px;
  margin: 32px auto 0;
  background: #ffffff;
  border-radius: 20px;
  padding: 40px 48px;
}

.game-report-heading {
  margin: 0;
  margin-bottom: 36px;
  color: #164687;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.questions-container {
  margin-top: 36px;
}

.attempted-all-text {
  margin: 120px 0;
  color: #0ea5e9;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .game-report-bg-container {
    padding: 16px 0 24px;
  }

  .game-report-container {
    width: calc(100% - 32px);
    margin-top: 16px;
    padding: 24px 16px;
    border-radius: 16px;
  }

  .game-report-heading {
    margin-bottom: 24px;
    font-size: 24px;
  }

  .questions-container {
    margin-top: 24px;
  }

  .attempted-all-text {
    margin: 80px 0;
    font-size: 22px;
    line-height: 1.4;
  }
}